.hero-section2 {
    padding: 50px;
    place-self: center;
    margin: auto;
    width: fit-content;
    margin-top: -80px;
}

.text-heading{
    margin: auto;
    width: fit-content;
    font-size: 2.3rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.left-text {
    text-align: left;
    font-size: 4em;
}

.section-heading {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-content {
    font-size: 1.2rem;
}

.right-card {
    display: flex;
    align-items: center;
}

.card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    width: 300px;
}

.card-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-content {
    font-size: 1rem;
}

.three-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 80px;
}

